
<section>
<div class="row align-items-center justify-content-center pt-2">
  <div class="row">
    <p>Create a new campaign <%= link_to "New Campaign", new_charity_campaign_path(@charity.id), class: 'btn btn-primary' %> </p>
  </div>
</div>
</section>
